<div class="container">
  <h1 class="mt-5"> {{titleChat}} </h1>
  <hr>
  <form id="chatForm">
    <div class="row">
      <div class="col-4">
        <input type="text" class="form-control" id="userName" placeholder="user@mail.com" >
      </div>
      <div class="col-4">
        <input type="text" class="form-control" id="chatTxtMsg" placeholder="Message" >
      </div>
      <div class="col-4" type="submit">
        <button class="btn btn-primary">Send</button>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col">
      <ul class="mt-2" id="chatMsgs"></ul>
    </div>
  </div>
</div>