<div class="container">
  <h1 class="mt-5">{{titleForm}}</h1>
  <hr>
  <form id="productForm">
    <div class="mb-3"><label class="form-label" for="title">Nombre</label>
      <input class="form-control" id="productTitle" type="text" name="title" />
    </div>
    <div class="mb-3"><label class="form-label" for="price">Precio</label>
      <input class="form-control" id="productPrice" type="text" name="price" />
    </div>
    <div class="mb-3"><label class="form-label" for="thumbnail">Foto URL</label>
      <input class="form-control"id="productThumbnail" type="text" name="thumbnail" />
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>

