<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <% include head %>
  <title></title>
</head>

<body>
</body>
<footer>
  <div class="container">
    <div align="center">Desarrollado por andresdavidsv</div>
  </div>
</footer>

</html>
